COMPOSE_PROJECT_NAME = airflow-celery-template

# postgres
POSTGRES_USER=postgres
POSTGRES_PASS=postgres
POSTGRES_HOST=postgres
POSTGRES_DB=core

# rabbit
RABBIT_USER=rabbit
RABBIT_PASS=rabbit
RABBIT_HOST=rabbit
RABBIT_PORT=5672
RABBIT_VHOST=/


# airflow
AIRFLOW_ADMIN_USER=airflow
AIRFLOW_ADMIN_PASS=airflow
AIRFLOW_UID=1000
AIRFLOW_GID=0
